$primary:	#121212;
$secondary:	#787878;
$white:		#fff;
$black:		#000;
$orange:	#ffaf2d;
$green:		#00aa4b;
$grey:		#f4f2f2;
$red:		#ff0000;
$blue:		#4949db;

// $z-index-sidebar: 1000;
// $z-index-header:  1000;
// $z-index-modal:   1010;

// $sidebar-width: 300px;

$mobile-bp: 767px;