
.vertical-line--brand {
	width: 0.2rem;
	height: 7rem;
	background-color: #f6f5f5;
	@media (max-width: 750px) {
		display: none;
	}
}
.brands {
	margin-top: 5rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: #fff;

	&__item-brand {
		padding: 3rem 0;
		margin: 0 auto;
		color: #232323;

		&:hover {
			text-decoration: none;
		}

		@media (max-width: 750px) {
			// display: block;
			margin: 0 2.5rem;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 5rem 0;

		}
	}

	@media (max-width: 750px) {
		// display: block;
		margin: 0 2.5rem;
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	@media (max-width: 750px) {
		grid-template-columns: 1fr;
	}

}