.container {
    max-width: 160rem;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    @media (max-width: 1104px) {
		width: 100%;
		padding-left: 0rem;
		padding-right: 0rem;
	}
}

.container-secondary {
	max-width: 140rem;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    @media (max-width: 1104px) {
		width: 100%;
		padding-left: 0rem;
		padding-right: 0rem;
	}
}