.header {

	&-top {
		background-color: #00aa4b;

	}

	&-center {
		background-color: #e8e7e7;

		&__wrap {
			display: flex;
			align-items: center;
			// justify-content: space-between;
			width: 100%;
		}

		&__supplier-portal {
			display: flex;
			align-items: center;
			justify-content: center;
			// flex: 0 1 10%;
			margin-left: 2rem;
			
		}

		&__supplier-img {
			width: 3.8rem;
		}

		&__supplier-text {
			margin-left: 1rem;
			font-size: 1.4rem;
			color: #787878;
			line-height: 1.7rem;
		}

		.header-logo {
			margin: 1rem 1rem 1rem 0;
			display: flex;
			align-items: center;
			&__img {
				width: 5rem;
			}
		
			&__title {
				font-size: 3.3rem;
				margin-left: 0.8rem;
			}
		
		}

	}

	&-bottom {
		// padding: 1rem;
		background-color: #fff;
		box-shadow: 0px 10px 30px -7px rgba(0, 0, 0, 0.2);

	
	}

}
