.recommendation {

	padding: 2rem 0;

	&__title {
		margin-bottom: 6.5rem;
		text-align: center;
		
	}

	&__heading {
		font-size: 4rem;
		margin-bottom: 1.5rem;
		line-height: 2.5rem;
		@media (max-width: 750px) {
			font-size: 5rem;
			margin-bottom: 3rem;
		}

		@media (max-width: 350px) {
			font-size: 4rem;
		}
	}

	&__description-section {
		color: #787878;
		max-width: 67rem;
		margin: 0 auto;
		@media (max-width: 750px) {
			font-size: 3rem;
			font-weight: 300;
		}

		@media (max-width: 420px) {
			font-size: 2.5rem;
		}

		@media (max-width: 350px) {
			font-size: 2rem;
		}
	
	}

	&__title-firm {
		text-transform: uppercase;
		font-size: 2rem;
		font-weight: 300;
		margin-bottom: 1rem;
		line-height: 2rem;

		&--color-w {
			color: #fff;
		}

		@media (max-width: 750px) {
			font-size: 3rem;
			margin-bottom: 2.5rem;
		}
	}

	&__title-equipment {
		font-size: 3rem;
		line-height: 3.8rem;
		margin-bottom: 2.5rem;
		&--color-w {
			color: #fff;
		}
		@media (max-width: 750px) {
			font-size: 4rem;
		}

		@media (max-width: 520px) {
			font-size: 3rem;
		}

		@media (max-width: 420px) {
			font-size: 2.5rem;
		}
	}

	&__description {
		color: #787878;
		line-height: 2rem;
		@media (max-width: 750px) {
			font-size: 2.5rem;
			text-align: left;
			line-height: 3rem;
			font-weight: 300;
		}
		@media (max-width: 375px) {
			font-size: 2rem;
		}
	}

	&__equipment {
		display: flex; 
		justify-content: space-between;
		@media (max-width: 1104px) {
			display: block;
		}
	}

/*---------------------Переделать-------------------------------------*/

	&__description-equipment {
		// max-width: 350px;
		// margin: 0 auto;

		&--rational {
			margin: 0 auto;
			max-width: 29rem;
			@media (max-width: 1104px) {
				text-align: left;
				margin: 0;
				max-width: 35rem;
				width: 100%;
			}

			@media (max-width: 600px) {
				max-width: 100%;
			}
		}

		&--abat {
			max-width: 39rem;
			margin: 0 auto;
			// font-size: 4rem;
			@media (max-width: 750px) {
				font-size: 4rem;
				text-align-last: left;
				max-width: 40rem;
				width: 100%;
				margin: 0;
				margin-left: auto;
			}
			@media (max-width: 600px) {
				margin-left: 0;
			}
		}

		&--hicold {
			max-width: 38rem;
		}
	}

	&__wrap {
		flex: 0 1 56.3%;
	}

	&__equipment-wrap {

		&--rational {
			flex: 0 1 43%; 
			background:#fff url("../images/rational.png") center no-repeat;
			background-position-y: 20rem;
			background-size: 100rem;
			padding: 6.5rem 0 0 0; 
			text-align: center;
			@media (max-width: 1104px) {
				padding-left: 7rem;
				margin-bottom: 1rem;
				padding-bottom: 8rem;
				padding-top: 11rem;
				background-position-y: top;
				background-position-x: 30rem;
				background-size: 55rem;
			}
			@media (max-width: 600px) {
				background-image: none;
				padding-right: 2rem;
			}

			@media (max-width: 520px) {
				padding: 6rem 2rem 5rem 3rem;
			}
		}

		&--abat {
			padding: 12rem 0 12rem 10rem;
			background: #232323 url(../images/abat.png) no-repeat;
			background-size: 48rem;
			margin-bottom: 1rem;
			background-position-y: -1.5rem;
			background-position-x: -25rem;
			@media (max-width: 750px) {
				background-size: 50rem;
				background-position-y: center;
				background-position-x: -22rem;
			}
			@media (max-width: 600px) {
				background-image: none;
				padding-left: 8rem;
			}

			@media (max-width: 520px) {
				padding: 6rem 2rem 5rem 3rem;
			}
		}

		&--hicold {
			padding: 9rem 0 7rem 5rem;
			background: #fff url(../images/hicold.png) center no-repeat;
			background-size: 67rem;
			background-position-x: 32rem;
			background-position-y: -16rem;
			@media (max-width: 750px) {
				background-position-y: center;
				background-position-x: 30rem;
			}
			@media (max-width: 600px) {
				background-image: none;
			}

			@media (max-width: 520px) {
				padding: 6rem 2rem 5rem 3rem;
			}
		}
	}

/*-------------------------------------------------------------------------*/

@media (max-width: 750px) {
	margin: 0 2.5rem;
}
}
