<div class="our-products__brands brands">
	<a href="#" class="brands__item-brand"><img src="assets/images/aba-logo.png" alt="" class="brands__img-logo"></a>
	<a href="#" class="vertical-line--brand"></a>
	<a href="#" class="brands__item-brand"><img src="assets/images/atesy-logo.png" alt="" class="brands__img-logo"></a>
	<a href="#" class="vertical-line--brand"></a>
	<a href="#" class="brands__item-brand"><img src="assets/images/cold-logo.png" alt="" class="brands__img-logo"></a>
	<a href="#" class="vertical-line--brand"></a>
	<a href="#" class="brands__item-brand"><img src="assets/images/rational-logo.png" alt="" class="brands__img-logo"></a>
	<a href="#" class="vertical-line--brand"></a>
	<a href="#" class="brands__item-brand"><img src="assets/images/simeco-logo.png" alt="" class="brands__img-logo"></a>
	<a href="#" class="vertical-line--brand"></a>
	<a href="#" class="brands__item-brand">Все бренды</a>
</div>