<div class="header-bottom__catalog-menu catalog-menu">
	<a href="#" class="catalog-menu__item">
		<img class="catalog-menu__img"src="/assets/images/thermal.png" alt="">
		<p class="catalog-menu__title">Тепловое</p>
	</a>
	<a href="#" class="catalog-menu__item">
		<img class="catalog-menu__img"src="/assets/images/refrigeration.png" alt="">
		<p class="catalog-menu__title">Холодильное</p>
	</a>
	<a href="#" class="catalog-menu__item">
		<img class="catalog-menu__img"src="/assets/images/electromechanical.png" alt="">
		<p class="catalog-menu__title">Электромеханическое</p>
	</a>
	<a href="#" class="catalog-menu__item">
		<img class="catalog-menu__img"src="/assets/images/dishwashers.png" alt="">
		<p class="catalog-menu__title">Посудомоечное</p>
	</a>
	<a href="#" class="catalog-menu__item">
		<img class="catalog-menu__img"src="/assets/images/bakery.png" alt="">
		<p class="catalog-menu__title">Хлебопекарное</p>
	</a>
	<a href="#" class="catalog-menu__item">
		<img class="catalog-menu__img"src="/assets/images/distribution_lines.png" alt="">
		<p class="catalog-menu__title">Линии раздачи</p>
	</a>
	<a href="#" class="catalog-menu__item">
		<img class="catalog-menu__img"src="/assets/images/fastfood.png" alt="">
		<p class="catalog-menu__title">Нейтральное</p>
	</a>
	<a href="#" class="catalog-menu__item">
		<img class="catalog-menu__img"src="/assets/images/halls.png" alt="">
		<p class="catalog-menu__title">Для фаст фуда</p>
	</a>
	<a href="#" class="catalog-menu__item">
		<img class="catalog-menu__img"src="/assets/images/weight.png" alt="">
		<p class="catalog-menu__title">Для залов</p>
	</a>
	<a href="#" class="catalog-menu__item">
		<img class="catalog-menu__img"src="/assets/images/bar.png" alt="">
		<p class="catalog-menu__title">Вспомогательное</p>
	</a>
	<a href="#" class="catalog-menu__item">
		<img class="catalog-menu__img"src="/assets/images/thermal.png" alt="">
		<p class="catalog-menu__title">Для магазинов</p>
	</a>
</div>