<footer class="footer">
	<div class="footer-top">
		<div class="container-secondary">
			<div class="footer__top-wrap">
				<div class="footer__information">
					<h3 class="footer__title-section">Информация</h3>
					<ul class="footer__list">
						<li class="footer__item"><a href="" class="footer__link">Компания</a></li>
						<li class="footer__item"><a href="" class="footer__link">Портфолио</a></li>
						<li class="footer__item"><a href="" class="footer__link">Проектирование</a></li>
						<li class="footer__item"><a href="" class="footer__link">Ресторанам</a></li>
						<li class="footer__item"><a href="" class="footer__link">Застройщикам</a></li>
						<li class="footer__item"><a href="" class="footer__link">Гос.заказчикам</a></li>
						<li class="footer__item"><a href="" class="footer__link">Таблет-питание</a></li>
						<li class="footer__item"><a href="" class="footer__link">Сервис</a></li>
						<li class="footer__item"><a href="" class="footer__link">Новости</a></li>
						<li class="footer__item"><a href="" class="footer__link">Контакты</a></li>
					</ul>
					<a href="#" class="footer__more--adaptive">+</a>
				</div>
				<div class="footer__equipment">
					<h3 class="footer__title-section">Оборудование</h3>
					<ul class="footer__list">
						<li class="footer__item"><a href="" class="footer__link">Тепловое</a></li>
						<li class="footer__item"><a href="" class="footer__link">Холодильное</a></li>
						<li class="footer__item"><a href="" class="footer__link">Электромеханическре</a></li>
						<li class="footer__item"><a href="" class="footer__link">Посудомоечное</a></li>
						<li class="footer__item"><a href="" class="footer__link">Барное</a></li>
						<li class="footer__item"><a href="" class="footer__link">Хлебопекарное</a></li>
						<li class="footer__item"><a href="" class="footer__link">Линии раздачи</a></li>
						<li class="footer__item"><a href="" class="footer__link">Нейтральное</a></li>
						<li class="footer__item"><a href="" class="footer__link">Для фаст фуда</a></li>
						<li class="footer__item"><a href="" class="footer__link">Для залов</a></li>
						<li class="footer__item"><a href="" class="footer__link">Весовое</a></li>
					</ul>
					<a href="#" class="footer__more--adaptive">+</a>
				</div>
				<div class="footer__offers">
					<h3 class="footer__title-section">Предложения</h3>
					<ul class="footer__list">
						<li class="footer__item"><a href="" class="footer__link">Кафе, барам, ресторанам</a></li>
						<li class="footer__item"><a href="" class="footer__link">Детским садам и школам</a></li>
						<li class="footer__item"><a href="" class="footer__link">Таблет-питание</a></li>
						<li class="footer__item"><a href="" class="footer__link">Для кондитерских</a></li>
						<li class="footer__item"><a href="" class="footer__link">Для пиццерий</a></li>
						<li class="footer__item"><a href="" class="footer__link">Для магазинов</a></li>
						<li class="footer__item"><a href="" class="footer__link">Для воинских частей</a></li>
						<li class="footer__item"><a href="" class="footer__link">Все предложения</a></li>
					</ul>
					<a href="#" class="footer__more--adaptive">+</a>
				</div>
				<div class="footer__contacts">
					<h3 class="footer__title-section">Контакты</h3>
					<div class="footer__list">
						<div class="footer__calls">
							<p class="footer__tel">8 495 150-31-71</p>
							<p class="footer__tel">8 800 500 43 44</p>
							<p class="footer__description-call">звонок беспланый</p>
						</div>
						<div class="footer__operating-mode">
							<p class="footer__weekday">Пн-Пт</p>
							<p class="footer__time">09:00 до 18:00</p>
						</div>
						<div class="footer__emails">
							<a href="#" class="footer__email">com@stolovay.ru</a>
							<a href="#" class="footer__email">nfo@stolovay.ru</a>
						</div>
						<div class="footer__address">
							<p class="footer__index">111524, Москва,</p>
							<p class="footer__district">Рязанский проспект 24к2</p>
						</div>
					</div>
					<a href="#" class="footer__more--adaptive">+</a>

				</div>
			</div>

		</div>
		
	</div>
	<div class="footer-bottom">
		<div class="container-secondary">
			<div class="footer-bottom__wrap">
				<div class="footer-logo">
					<img src="assets/images/logo.svg" class="footer-logo__img"></img>
					<div class="footer-logo__wrap">
						<p class="footer-logo__title">Столовая.РУ</p>
						<p class="footer-logo__description-logo">Создание оптимальных пищеблоков</p>		
					</div>
				</div>
				<div class="footer-bottom__copyright">
					Сайт разработали...
				</div>
			</div>
		</div>

	</div> 
</footer>	
