<header class="header">	
	<div class="header-top">
		<div class="container-header container">
			<div class="header-top__wrap">
				{{>header-menu}}
				<div class="header-logo--adaptive">
					<img src="assets/images/logo.svg" class="header-logo--adaptive__img"></img>
					<div class="header-logo--adaptive__wrap">
						<p class="header-logo--adaptive__title">Столовая.РУ</p>
						<p class="header-logo--adaptive__description-logo">Создание пищеблоков</p>
					</div>
				</div>
				<div class="header-top__icon">
					<a href="#" class=""><img src="assets/images/adaptive-search-icon.png" alt="" class=""></a>
					<a href="#" class=""><img src="assets/images/adaptive-telephone-icon.png" alt="" class=""></a>
					<a href="#" class="basket__goods-count--adaptive">
						<p class="basket__quantity--adaptive">12</p>
						<img class="basket__icon--adaptive" src="assets/images/adaptive-basket.svg" alt="basket">
					</a>
				</div>

			</div>
		</div>
	</div>
	<div class="header-center">
		<div class="container">
			<div class="header-center__wrap">
				<div class="header-logo">
					<img src="assets/images/logo.svg" class="header-logo__img"></img>
					<p class="header-logo__title">Столовая.РУ</p>
				</div>
				{{>search}}
				<div class="header-center__supplier-portal">
					<img class="header-center__supplier-img" src="assets/images/portalpostavschikov.png" alt="supplier">
					<p class="header-center__supplier-text">Мы на портале поставщиков</p>
				</div>
				{{>basket}}
			</div>
		</div>
	</div>
	<div class="header-bottom">
		<div class="container container-header">
			{{>catalog-menu}}
		</div>
	</div>
</header>
