<header class="header">	
	<div class="header-top">
		<div class="container">
			{{>header-menu}}
		</div>
	</div>
	<div class="header-center">
		<div class="container">
			<div class="header-center__wrap">
				<div class="header-logo">
					<img src="/assets/images/logo.svg" class="header-logo__img"></img>
					<p class="header-logo__title">Столовая.РУ</p>
				</div>
				{{>search}}
				<div class="header-center__supplier-portal">
					<img class="header-center__supplier-img" src="/assets/images/portalpostavschikov.png" alt="supplier">
					<p class="header-center__supplier-text">Мы на портале поставщиков</p>
				</div>
				{{>basket}}
			</div>
		</div>
	</div>
	<div class="header-bottom">
		<div class="container">
			{{>catalog-menu}}
		</div>
	</div>
</header>
