<header class="header">	
	<div class="header-top">
		<div class="container">
			{{>header-menu}}
		</div>
	</div>
	<div class="header-center">
		<div class="container">
			<div class="header-center__wrap">
				{{>logo}}
				{{>search}}
				<div class="header-center__supplier-portal">
					<img class="header-center__supplier-img" src="/assets/images/portalpostavschikov.png" alt="supplier">
					<p class="header-center__supplier-text">Мы на портале поставщиков</p>
				</div>
				{{>basket}}
			</div>
		</div>
	</div>
	<div class="header-bottom">
		<div class="container" style="height: 100px;">

			Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> 
			Qui, omnis sed nihil itaque commodi illo ut aperiam neque nobis nisi tempore, <br> 
			dolor quis pariatur iure culpa delectus voluptatibus saepe nostrum?
		</div>
	</div>
</header>
