<section class="information">
	<div class="information__wrap">
		<div class="information__solution">
			<h2 class="information__solution-title">Комплексные решения оснащения столовых 
				и&nbsp;кафе
			</h2>
			<p class="information__solution-descroption">Компания предлагает комплексное оснащение столовых, ресторанов, 
				кафе и&nbsp;баров в&nbsp;Москве. Наши услуги построены по&nbsp;принципу полного цикла 
				обслуживания предприятий общепита и&nbsp;бизнеса HoReCa.<br>
				Иными словами, мы&nbsp;предлагаем проектирование &laquo;под ключ&raquo; и&nbsp;постгарантийное обслуживание. 
				География работы компании охватывает всю страну. При этом в&nbsp;каждом регионе мы&nbsp;готовы предложить 
				демократичные цены на&nbsp;профессиональное технологическое оборудование для столовой и&nbsp;оптимальные 
				решения с&nbsp;точки зрения эффективности бизнеса, приемлемым уровнем производительности в&nbsp;условиях 
				ограниченного бюджета.
			</p>
			
		</div>
		<div class="information__offer">
			<h3 class="information__offer-title">Что мы&nbsp;предлагаем</h3>
			<p class="information__offer-description">Разработку технологического проекта кухни и&nbsp;производственной линии, дизайна 
				ресторанного интерьера;<br> составление меню согласно концепции и&nbsp;оснащения бара (кафе, столовой);<br>
				подбор посуды, текстиля под общий стиль; профессиональное оборудование для кафе, бара и&nbsp;ресторана, 
				большой выбор современных моделей; доставку в&nbsp;любой регион&nbsp;РФ;<br> монтажные и&nbsp;пуско-наладочные 
				работы; автоматизацию производственного процесса, что позволяет определённое оборудование для бара;
			</p>
		</div>
	</div>
	<div class="information__about-us">
		<div class="information-logo">
			<img src="assets/images/logo.svg" class="information-logo__img"></img>
			<div class="information-logo__wrap">
				<p class="information-logo__title">Столовая.РУ</p>
				<p class="information-logo__description-logo">Создание оптимальных пищеблоков</p>		
			</div>
		</div>
		<h4 class="information__about-us-title">Группа компаний</h4>
		<p class="information__about-us-indicators">Показатели:</p>
		<div class="information__indicators">
			<p class="information__">На рынке: 5 лет</p>
			<p class="information__">Объем контрактов: 4 млрд.р.</p>
			<p class="information__">Количество контрактов: 620</p>
		</div>
		
	</div>
</section>