<div class="menu__contact-us modal-contact-us">
	<span class="modal-contact-us__close"></span>
	<div class="modal-contact-us__communication-methods">
		<div class="modal-contact-us__number">
			<p class="modal-contact-us__tel">8 495 790-72-05</p>
			<p class="modal-contact-us__additional-info">Мы принимаем звонки без выходных</p>
		</div>
		<div class="modal-contact-us__methods">
			<p class="modal-contact-us__choice">Выберите способ связи:</p>
			<ul class="modal-contact-us__list">
				<li class="modal-contact-us__item"><img src="assets/images/telephone_black.svg" alt="" class="modal-contact-us__social-icon modal-contact-us__icon-tel"><a href="" class="modal-contact-us__link">Мобильный</a></li>
				<li class="modal-contact-us__item"><img src="assets/images/viber.png" alt="" class="modal-contact-us__social-icon"><a href="" class="modal-contact-us__link">Viber</a></li>
				<li class="modal-contact-us__item"><img src="assets/images/telegram.png" alt="" class="modal-contact-us__social-icon"><a href="" class="modal-contact-us__link">Telegram</a></li>
				<li class="modal-contact-us__item"><img src="assets/images/whatsapp.png" alt="" class="modal-contact-us__social-icon"><a href="" class="modal-contact-us__link">Whatsapp</a></li>
			</ul>
		</div>
	</div>
	<form class="modal-contact-us__form">
		<p class="modal-contact-us__callback">Обратный звонок:</p>
		<p class="modal-contact-us__additional-info">Мы перезвоним в течении часа</p>
		<label for="name" class="modal-contact-us__label">Имя:</label>
		<input type="text" class="modal-contact-us__input" id="name" autocomplete="off">
		<label for="tel" class="modal-contact-us__label">Телефон:</label>
		<input type="tel" class="modal-contact-us__input" id="tel">
		<button type="submit" class="modal-contact-us__button button">Отправить</button>
	</form>
</div>