<section class="news">
	<h2 class="news__title">Новости производителей</h2>
	<div class="news__wrap">
		<div class="news__latest-news latest-news">
			<!-- <div class="latest-news__"> -->
				<img src="/assets/images/news-1.jpg" alt="" class="latest-news__img"></img>
				<div class="latest-news__info news__info">
					<p class="latest-news__autor news__autor">Abat</p>
					<p class="latest-news__date news__date">01.04.2021</p>
				</div>
				<h3 class="latest-news__title news__title-news">Новый разборный ротационный пекарский шкаф РПШ-18-8-6МР</h3>
				<p class="latest-news__description news__description">
					Новый разборный ротационный пекарский шкаф РПШ-18-8-6МР: в&nbsp;комплекте тележка-шпилька 
					ТШГ-18&nbsp;на 18&nbsp;уровней 600&times;800&nbsp;мм вместимость тележки-шпильки&nbsp;&mdash; 
					135 хлебных форм &#8470;&nbsp;7 инжекционный тип парообразования
					разборная конструкция увеличенное стекло двери. 
					Память на&nbsp;110 программ (до&nbsp;4-ех этапов в&nbsp;каждой программе)
					USB-порт. Таймер до&nbsp;10&nbsp;ч 
					Регулировка влажности от&nbsp;0&nbsp;до&nbsp;100%.&nbsp;5&nbsp;скоро
				</p>
			<!-- </div> -->
		</div>
		<div class="news__previous-news">
			<div class="news__wrapper">
				<div class="news__image">
					<img src="/assets/images/news-2.jpg" alt="" class="news__img"></img>
				</div>
				<div class="news__content">
					<div class="news__info">
						<p class="news__autor">Abat</p>
						<p class="news__date">01.04.2021</p>
					</div>
					<div class="news__">
						<h3 class="news__title-news">Повышение энергоэффективности туннельных посудомоечных машин МПТ торговой марки Abat</h3>
						<p class="news__description">
							С&nbsp;целью снижения нагрузки на&nbsp;электрическую сеть и&nbsp;для повышения 
							энергоэффективности изделий с&nbsp;1&nbsp;июня 2017 года был изменен алгоритм 
							работы туннельных посудомоечных машин МПТ торговой марки Abat всех моделей...
						</p>
					</div>	
				</div>
			</div>
			<div class="news__wrapper">
				<div class="news__image">
					<img src="/assets/images/news-3.jpg" alt="" class="news__img"></img>
				</div>
				<div class="news__content">
					<div class="news__info">
						<p class="news__autor">Abat</p>
						<p class="news__date">01.04.2021</p>
					</div>
					<div class="news__">
						<h3 class="news__title-news">Повышение энергоэффективности туннельных посудомоечных машин МПТ торговой марки Abat</h3>
						<p class="news__description">
							С&nbsp;целью снижения нагрузки на&nbsp;электрическую сеть
							и&nbsp;для повышения энергоэффективности изделий с&nbsp;1&nbsp;июня 2017 года был изменен 
							алгоритм работы...
						</p>
					</div>	
				</div>
			</div>
			<div class="news__wrapper">
				<div class="news__image">
					<img src="/assets/images/news-2.jpg" alt="" class="news__img"></img>
				</div>
				<div class="news__content">
					<div class="news__info">
						<p class="news__autor">Abat</p>
						<p class="news__date">01.04.2021</p>
					</div>
					<div class="news__">
						<h3 class="news__title-news">Повышение энергоэффективности туннельных посудомоечных машин МПТ торговой марки Abat</h3>
						<p class="news__description">
							С&nbsp;целью снижения нагрузки на&nbsp;электрическую сеть и&nbsp;для повышения 
							энергоэффективности изделий с&nbsp;1&nbsp;июня 2017 года был изменен алгоритм 
							работы туннельных посудомоечных машин МПТ торговой марки Abat всех моделей...
						</p>
					</div>	
				</div>
			</div>
		</div>
	</div>
	<a href="#" class="news__all-news">Все новости</a>
</section>