<section class="our-products">
	<div class="our-products__info">
		<div class="our-products__targeted-offers">
			<h2 class="our-products__heading">Целевые предложения</h2>
			<ul class="our-products__list">
				<li class="our-products__item"><a href="#" class="our-products__link">Детским садам и школам</a>></li>
				
				<li class="our-products__item"><a href="#" class="our-products__link">Таблет-питание</a>></li>
				<li class="our-products__item"><a href="#" class="our-products__link">Для столовых</a>></li>
				<li class="our-products__item"><a href="#" class="our-products__link">Для пищеблоков</a>></li>
				<li class="our-products__item"><a href="#" class="our-products__link">Государственным заказам</a>></li>
				<li class="our-products__item"><a href="#" class="our-products__link">Для магазинов</a>></li>
				<li class="our-products__item"><a href="#" class="our-products__link">Кафе, барам, ресторанам</a>></li>
				<li class="our-products__item"><a href="#" class="our-products__link">Для войсковых частей</a>></li>
				<li class="our-products__item"><a href="#" class="our-products__link">Все предложения</a>></li>
			</ul>
		</div>

		<div class="our-products__portfolio">
			<div class="our-products__portfolio-wrap">
				<h3 class="our-products__portfolio-title">Портфолио</h3>
				<h2 class="our-products__portfolio-customer">НИИ скорой помощи 
					им. Н.В. Склифосовского
				</h2>
				<p class="our-products__portfolio-description">Оборудование для пищеблоков</p>
				<a href="#" class="our-products__more-detailed-button">Подробнее</a>
			</div>
			

		</div>




		<div class="our-products__sale">
			<img src="assets/images/gift.png" alt="giftbox" class="our-products__giftbox"></img>
			<p class="our-products__description-sale">Самые низкие цены</p>
			<h2 class="our-products__title">Распродажа</h2>
			<a href="#" class="our-products__catalog-sale">Каталог распродаж ></img></a>
		</div>
	</div>
	{{> brands}}
</section> 