<section class="recommendation">
	<div class="recommendation__title">
		<h2 class="recommendation__heading">Рекомендуем</h2>
		<p class="recommendation__description-section">
			В&nbsp;этих разделах вы&nbsp;можете получить подробную 
			информацию о&nbsp;пищевом оборудовании для столовых, 
			ресторанов и&nbsp;кафе ведущих производителей.
		</p>
	</div>
	<div class="recommendation__equipment" >
		<div class="recommendation__equipment-wrap recommendation__equipment-wrap--rational">
			<div class="recommendation__description-equipment recommendation__description-equipment--rational">
				<p class="recommendation__title-firm">rational</p>
				<h3 class="recommendation__title-equipment">Пароконвектоматы</h3>
				<p class="recommendation__description">Педантичность и&nbsp;преданность своему делу делает 
					продукцию Rational идеальной для тех, кто ищет надежность 
					и&nbsp;долговечность.
				</p>
			</div>
		</div> 
		<div class="recommendation__wrap">
			<div class="recommendation__equipment-wrap recommendation__equipment-wrap--abat">
				<div class="recommendation__description-equipment recommendation__description-equipment--abat">
					<p class="recommendation__title-firm recommendation__title-firm--color-w" >Abat</p>
					<h3 class="recommendation__title-equipment recommendation__title-equipment--color-w">Тепловое оборудование</h3>
					<p class="recommendation__description">
						Более 55&nbsp;лет успешно работает на&nbsp;рынке 
						торгово-технологического оборудования, по&nbsp;праву 
						занимая лидирующее положение в&nbsp;данном сегменте.
					</p>
				</div>
			</div>
			<div class="recommendation__equipment-wrap recommendation__equipment-wrap--hicold " >
				<div class="recommendation__description-equipment recommendation__description-equipment--hicold">
					<p class="recommendation__title-firm">hicold</p>
					<h3 class="recommendation__title-equipment">Холодильные столы</h3>
				<p class="recommendation__description">Многофункциональность оборудования позволяет оптимизировать пространство 
					на&nbsp;кухне, сделать работу персонала максимально удобной 
					и&nbsp;эффективной.
				</p>
				</div>
			</div>
		</div>
	</div>
</section>