<div class="header-search search">
	<ul class="search-categories">
		<li class="search-categories__list">
			<a href="#" class="search-categories__filter">
				<span class="search-categories__filter-value">Все</span><img src="assets/images/triangle.png" alt="triangle" class="search-categories__icon-triangle"></img>
			</a>
			<ul class="search-categories__subnav">
				<p class="search-categories__category">Выбирете категорию:</p>
				<li class="search-categories__category-item"><a href="#" class="search-categories__category-link">Все</a></li>
				<li class="search-categories__category-item"><a href="#" class="search-categories__category-link">Тепловое</a></li>
				<li class="search-categories__category-item"><a href="#" class="search-categories__category-link">Холодильное</a></li>
				<li class="search-categories__category-item"><a href="#" class="search-categories__category-link">Электромеханическое</a></li>
				<li class="search-categories__category-item"><a href="#" class="search-categories__category-link">Посудомоечное</a></li>
				<li class="search-categories__category-item"><a href="#" class="search-categories__category-link">Барное</a></li>
				<li class="search-categories__category-item"><a href="#" class="search-categories__category-link">Хлебопекарное</a></li>
				<li class="search-categories__category-item"><a href="#" class="search-categories__category-link">Линии раздачи</a></li>
				<li class="search-categories__category-item"><a href="#" class="search-categories__category-link">Нейтральное</a></li>
				<li class="search-categories__category-item"><a href="#" class="search-categories__category-link">Для фаст фуда</a></li>
				<li class="search-categories__category-item"><a href="#" class="search-categories__category-link">Для залов</a></li>
				<li class="search-categories__category-item"><a href="#" class="search-categories__category-link">Весовое</a></li>
			</ul>
		</li>
		
	</ul>
	<form class="search-query">
		<input class="search-query__input" type="search">
		<button type="button" class="search-query__button"><img class="search-query__img" src="assets/images/search.png" alt="search"></button>	
	</form>
	
	
</div>